# 编译输出目录
bin/
obj/

# 发布目录
publish/
Publish/

# Visual Studio 缓存和配置文件
.vs/
*.suo
*.user
*.ntvs*
*.njsproj
*.sln.docstates

# 日志和临时文件
*.log
*.tmp
*.bak

# 测试相关
TestResults/
coverage/

# 其他工具生成文件
node_modules/
bower_components/
/.vs/SPlatformSLN/FileContentIndex/463ebcc1-71b8-4b07-a1f5-c372216396c4.vsidx
/.vs/SPlatformSLN/FileContentIndex/463ebcc1-71b8-4b07-a1f5-c372216396c4.vsidx
/.vs/SPlatformSLN/v17/HierarchyCache.v1.txt
/packages/Portable.BouncyCastle.1.9.0
/packages/System.Configuration.ConfigurationManager.4.4.1
/packages/System.Diagnostics.DiagnosticSource.7.0.2
/BusinessCard/obj/Release/BusinessCard.csproj.AssemblyReference.cache
/BusinessCard/obj/Release/BusinessCard.csproj.CoreCompileInputs.cache
/.vs/SPlatformSLN/CopilotIndices/17.14.698.11175/CodeChunks.db
/.vs/SPlatformSLN/CopilotIndices/17.14.698.11175/SemanticSymbols.db
/packages
/BusinessCard/Properties/PublishProfiles/FolderProfile2.pubxml
/SPlatformService/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/SPlatformService/obj/Release/SPlatformService.csproj.AssemblyReference.cache
/SPlatformService/obj/Release/SPlatformService.csproj.CoreCompileInputs.cache
/SPlatformService/obj/Release/SPlatformService.csproj.FileListAbsolute.txt
/SPlatformService/obj/Release/SPlatformService.dll
/SPlatformService/obj/Release/SPlatformService.pdb
/.vs/SPlatformSLN/v17/.suo
/WebUI/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/WebUI/obj/Release/WebUI.csproj.AssemblyReference.cache
/WebUI/obj/Release/WebUI.csproj.CoreCompileInputs.cache
/WebUI/obj/Release/WebUI.csproj.FileListAbsolute.txt
/WebUI/obj/Release/WebUI.dll
/WebUI/obj/Release/WebUI.pdb
/WebUI/bin/SPLibrary.dll
/SPlatformService/logs/SITE_Error.log
/SPlatformService/logs/SITE_Error.log.2025-10-10
/WebUI/.vs/WebUI.csproj.dtbcache.json
/SPlatformService/Web.config
/SPlatformService/.vs/SPlatformService.csproj.dtbcache.json
/BusinessCard/obj/Release/TransformWebConfig/transformed/Web.config
/BusinessCard/obj/Release/Package/PackageTmp/Web.config
/BusinessCard/Web.config
/WebUI/Properties/PublishProfiles/FolderProfile.pubxml
