input::-ms-clear{display:none;}
.input-radio
{
    padding-top: 4px;
}

.input-radio label
{
    padding-left: 10px;
}

.input-checkboxlist
{
    padding-top: 4px;
}

.input-checkboxlist label
{
    padding-left: 10px;
}

.input-checkbox
{
    padding-top: 4px;
}

.input-checkbox label
{
    width: 100px;
    padding-left: 10px;
}

.mod-setting {
    box-shadow: 0 1px 3px 2px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 1px 3px 2px rgba(0,0,0,.2);
    border: solid 1px #ededed;
    margin-top: 21px;
    color: #666;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    /*content: ' 20';*/
    display: block;
    height: 0;
    clear: both;
}

.mod-setting .setting-title {
    font-size: 22px;
    height: 46px;
    line-height: 46px;
    padding-left: 20px;
    background: -webkit-linear-gradient(#fff,#f7f7f7);
    background: -moz-linear-gradient(#fff,#f7f7f7);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#f7f7f7);
}

.yahei {
    font-family: "microsoft yahei","微软雅黑E\8F6F\96C5\9ED1",Tahoma,Arial,Helvetica,STHeiti;
}

.mod-setting .setting-content {
    background: #f7f7f7;
    min-height: 640px;
    _height: 640px;
}

.mod-setting .setting-menu {
    float: left;
    width: 199px;
    _overflow: hidden;
}

.mod-setting .setting-menu .menu-title {
    height: 39px;
    line-height: 38px;
    font-size: 14px;
    border-top: solid 1px #e5e5e5;
    border-bottom: solid 1px #e5e5e5;
    border-right: 1px solid #e5e5e5;
    position: relative;
    background: -webkit-linear-gradient(#fff,#f2f2f2);
    background: -moz-linear-gradient(#fff,#f2f2f2);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#f2f2f2);
}

.mod-setting .setting-menu .menu-profile h3, .mod-setting .setting-menu .menu-profile-current h3, .mod-setting .setting-menu .menu-privacy h3, .mod-setting .setting-menu .menu-privacy-current h3, .mod-setting .button, .mod-setting .button:hover, .mod-setting .save-ok {
    background-image: url("../img/setting_sprites_0_ccb7c890.png");
}

.mod-setting .setting-menu .menu-profile-current h3 {
background: no-repeat 0 0;
background-position: 0 -214px;
}

.mod-setting .setting-menu .active h3 {
padding-left: 41px;
border-left: 4px #df6801 solid;
}

.mod-setting .setting-menu .menu-title h3 {
display: block;
padding-left: 45px;
font-weight: bold;
position: absolute;
left: 0;
top: -1px;
height: 41px;
width: 155px;
}
h1, h2, h3, h4, h5, h6 {
font-size: 100%;
margin-top: 0px;
margin-bottom: 0px;
line-height: 3;
}

ul, ol {
list-style: none;
}

.mod-setting .setting-menu .menu-list .menu-item.on {
background: #fff;
border-right: 1px solid #fff;
}

.mod-setting .setting-menu .menu-list .menu-item {
line-height: 34px;
height: 35px;
font-size: 12px;
width: 198px;
border-right: 1px solid #e5e5e5;
}

a:active, a:visited {
border: none;
outline: none;
}

a {
text-decoration: none;
color: #2c76c0;
outline: none;
transition: color .2s;
-moz-transition: color .2s;
-o-transition: color .2s;
-webkit-transition: color .2s;
}

a:-webkit-any-link {
color: -webkit-link;
text-decoration: none;
cursor: auto;
}

.mod-setting .setting-menu .menu-list .menu-split {
margin: 0;
border-top: solid 1px #dde3e9;
height: 0;
overflow: hidden;
width: 199px;
font-size: 0;
line-height: 0;
}

.mod-setting .setting-menu .menu-list .menu-item a {
margin-left: 45px;
display: block;
padding-left: 11px;
background: none;
color: #666;
}

.mod-setting .setting-detail {
float: left;
width: 778px;
border-top: solid 1px #e5e5e5;
background-color: #fff;
min-height: 640px;
_height: 640px;
}

.mod-setting .setting-detail .detail-bg {
height: 0;
border-top: solid 1px #efefef;
border-bottom: solid 1px #f9f9f9;
overflow: hidden;
}

.mod-setting-profile {
padding: 18px 20px;
}

.mod-setting-profile .setting-profile-title {
font-size: 20px;
color: #999;
line-height: 1;
padding-bottom: 11px;
border-bottom: solid 2px #f2f2f2;
}

.setting-profile-form {
color: #666;
font-size: 14px;
margin-top: 15px;
zoom: 1;
}

.setting-profile-form tr {
vertical-align: top;
}

.setting-profile-form th {
text-align: right;
font-weight: normal;
padding: 14px 10px 0 0;
width: 90px;
}

.setting-profile-form td.line30 {
line-height: 30px;
}

.setting-profile-form td {
padding: 7px 0 8px;
}

button, input, select, textarea {
font-size: 100%;
}

.setting-profile-form .profile-gender {
margin: 0 25px 0 3px;
vertical-align: middle;
}

.mod-setting-profile .setting-submit-btn {
float: left;
}
.jcrop-light .jcrop-handle, .jcrop-dark .jcrop-handle, .setting-submit-btn {
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
}
.setting-submit-btn {
border: none;
border: 1px solid #5c8ebf;
border: 0 none	9;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#75abda, endColorstr=#6698c9);
background: #FF6801;
font-size: 14px;
width: 68px;
height: 34px;
line-height: 34px;
color: #fff;
text-align: center;
cursor: pointer;
}
.setting-submit-ml100 {
margin: 13px 0 0 100px;
}

.mod-cus-input {
border: 1px solid;
border-color: #d8d8d8 #e5e5e5 #e5e5e5 #d8d8d8;
box-shadow: 2px 3px 3px #f6f8f9 inset;
-moz-box-shadow: 2px 3px 3px #f6f8f9 inset;
-webkit-box-shadow: 2px 3px 3px #f6f8f9 inset;
outline: none;
padding: 0 8px;
width: 212px;
height: 26px;
font-size: 12px;
line-height: 26pxurl(0);
padding: 1px 8px;
-webkit-transition-property: background-color,color,width,border-color;
-webkit-transition-duration: .5s;
-moz-transition-property: background-color,color,width,border-color;
-moz-transition-duration: .5s;
-o-transition-property: background-color,color,width,border-color;
-o-transition-duration: .5s;
transition-property: background-color,color,width,border-color;
transition-duration: .5s;
}

body, button, input, select, textarea {
font-size: 12px;
font-family: arial,宋体b8b\4f53,sans-serif;
}
/*房源列表搜索*/
.width6{
    width: 6% !important;
}
.width10{
    width: 10% !important;
}
.inputcss{
    height:25px;
    padding:2px 3px !important;
}
.qujcss{
    line-height: 25px; 
    height: 25px; 
    padding: 0px 0px 0px 0px;
    text-align: center;
}
.dwcss{
    line-height: 18px; height: 25px; padding: 2px 0px 0px 2px;
}

.heo-input-01 {
    border-color:#d8d8d8 #e5e5e5 #e5e5e5 #d8d8d8;
    border-style:solid;
    border-width:1px;
    box-shadow:2px 3px 3px #f6f8f9 inset;
    font-size:12px;
    height:26px;
    outline:medium none;
    padding:1px 8px;
    transition-duration:0.5s;
    transition-property:background-color, color, width, border-color;
    width:150px;
}

.top_img {
    background-image: url("images/Top.png");
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-bottom:9px;
}

#rightBottom {
    
    display: block;
    position: fixed;
    right: 16px;
    bottom: 8px;            
}

#leftMiddle {
    display: block;
    position: fixed;
    /*margin-left:-20px;*/
    top: 50%;
    width:40px;
    height:100px;
    left:190px;
}

@media only screen and (max-width:991px) {
	#leftMiddle {
        left:0px !important;
    }
}

.leftsmall{
    left:43px !important;
}


/*JS验证*/
.form-group.is-error .input-group.is-errors .input-group-addon {
    border-color: #f09784;
}
.form-group.is-error input.is-errors, .form-group.is-error select.is-errors, .form-group.is-error textarea.is-errors {
    border-color: #f09784;
    box-shadow: none;
    color: #d68273;
}
.form-group.is-error input.is-errors:focus, .form-group.is-error select.is-errors:focus, .form-group.is-error textarea.is-errors:focus {
    border-color: #db8978;
    box-shadow: 0 0 0 2px rgba(219, 137, 120, 0.3);
    color: #866;
}
.form-group.is-error input.is-errors:focus + .ace-icon, .form-group.is-error select.is-errors:focus + .ace-icon, .form-group.is-error textarea.is-errors:focus + .ace-icon {
    color: #d68273;
}
.form-group.is-error .is-errors.ace-icon {
    color: #d68273;
}
.form-group.is-error .is-errors.btn .ace-icon {
    color: inherit;
}
.form-group.is-error .is-errors.control-label,.form-group.is-error .is-errors.lbl, .form-group.is-error .help-block, .form-group.is-error .is-errors.help-inline {
    color: #d16e6c;
}
.form-group.is-error .is-errors.chosen-single {
    border-color: #f09784 !important;
}
.form-group.is-error .is-errors.select2-choice, .form-group.is-error .is-errors.select2-choices {
    border-color: #f09784 !important;
}
.is-error .is-errors.help-block, .is-error .is-errors.control-label, .is-error .is-errors.radio, .is-error .is-errors.checkbox, .is-error .is-errors.radio-inline, .is-error .is-errors.checkbox-inline {
    /*color: #a94442;*/
    color: #d16e6c;
}
.is-error .is-errors.form-control {
    border-color: #a94442;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.is-error .is-errors.form-control:focus {
    border-color: #843534;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #ce8483;
}
.is-error .is-errors.input-group-addon {
    background-color: #f2dede;
    border-color: #a94442;
    color: #a94442;
}
.is-error .is-errors.form-control-feedback {
    color: #a94442;
}

.width125 {
    width: 12.5% !important;
}



/*head message*/
.dropdown-navbar-ms {
  padding: 0;
  width: 240px;
  -webkit-box-shadow: 0 2px 4px rgba(30, 30, 100, 0.25);
  box-shadow: 0 2px 4px rgba(30, 30, 100, 0.25);
  border-color: #bcd4e5;
}
.dropdown-navbar-ms > li {
  padding: 0 8px;
  background-color: #FFF;
}
.dropdown-navbar-ms > li.dropdown-header {
  text-shadow: none;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 34px;
  font-size: 13px;
  font-weight: bold;
  text-transform: none;
  border-bottom: 1px solid;
}
.dropdown-navbar-ms > li > .ace-icon,
.dropdown-navbar-ms > li > a > .ace-icon {
  margin-right: 5px !important;
  color: #555;
  font-size: 14px;
}
.dropdown-navbar-ms > li > a {
  padding: 10px 2px;
  margin: 0;
  border-top: 1px solid;
  font-size: 12px;
  line-height: 16px;
  color: #555;
}
.dropdown-navbar-ms > li > a:active,
.dropdown-navbar-ms > li > a:hover,
.dropdown-navbar-ms > li > a:focus {
  background-color: transparent !important;
  color: #555;
}
.dropdown-navbar-ms > li > a .progress {
  margin-bottom: 0;
  margin-top: 4px;
}
.dropdown-navbar-ms > li > a .badge {
  line-height: 16px;
  padding-right: 4px;
  padding-left: 4px;
  font-size: 12px;
}
.dropdown-navbar-ms > li:first-child > a,
.dropdown-navbar-ms > li.dropdown-header + li > a {
  border-top-width: 0;
}

.dropdown-navbar-ms > li:hover {
  background-color: #f4f9fc !important;
}
.dropdown-navbar-ms > li.dropdown-header {
  background-color: #ecf2f7 !important;
  color: #8090a0;
  border-bottom-color: #bcd4e5;
}
.dropdown-navbar-ms > li.dropdown-header > .ace-icon {
  color: #8090a0;
}
.dropdown-navbar-ms > li > a {
  border-top-color: #e4ecf3;
}
.dropdown-navbar-ms [class*="btn"].ace-icon {
  display: inline-block;
  margin: 0 5px 0 0;
  width: 24px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.dropdown-navbar-ms .msg-body {
   font-family: "微软雅黑";
  font-size:12px;
  display: inline-block;
  line-height: 20px;
  white-space: normal;
  vertical-align: middle;
  max-width: 200px;/*设置宽度*/
}
.dropdown-navbar-ms .msg-title {
  display: inline-block;
  line-height: 14px;
}
.dropdown-navbar-ms > .dropdown-content {
  padding: 0;
}
.dropdown-navbar-ms > .dropdown-content .dropdown-navbar-ms {
  list-style: none;
  margin: 0;
  padding: 0 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: auto;
  display: block;
  float: none;
  border-width: 0;
  position: static;
  z-index: auto;
}


.dropdown-menu-ms {
  border-radius: 0 !important;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.dropdown-menu-ms > li > a {
  font-size: 13px;
  padding-left: 11px;
  padding-right: 11px;
  margin-bottom: 1px;
  margin-top: 1px;
}

.dropdown-navbar-ms .tab-content .dropdown-menu {
  display: block;
  position: static;
  margin: 0 !important;
  padding-top: 2px;
  border-color: #FFF !important;
  box-shadow: none !important;
  width: 100%;
}

/*head message end*/



/*房源采集详情页面*/
.hCaptureDetails .form-group{
    margin-top: 10px !important;
}
.hCaptureDetails .div1 {
    text-align: center;
    background-color: rgb(233,233,233);
    margin-bottom: 0px;
    height: 50px;
    padding-top: 15px;
    margin-top: 0px !important;
}
.hCaptureDetails .div1 > div {
    left: 0px;
    position: absolute;
    width: 38%;
}
.hCaptureDetails .div1 > div span {
    float:left;
}
.hCaptureDetails .div1 span{
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    font-weight: bold;
}
.hCaptureDetails #hcStatus {
    border-radius: 5px;
    width: 60px;
    background-color: rgb(254,254,254);
    color: #ff9900;
    margin-left: 15px;
}
.hCaptureDetails .source,#hcSource{
    color: #000;
    width: auto;
}
.hCaptureDetails .source{
    margin-left: 10px;
}
.hCaptureDetails .title{
    color: #000;
    width: auto;
}
.hCaptureDetails .div1 .clo{
    color: rgb(156,156,156);
    right: 15px;
    position: absolute;
    width: 50px;
    font-size: 55px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    cursor:pointer
}
.hCaptureDetails .div2{
    text-align:center;position:relative;margin-top: 0px !important;
}
.hCaptureDetails .div2 div{
    background-color:white;height:60px;
}
.hCaptureDetails .div2 div:first-child{
    background-color:rgb(233,233,233);height:70px;
}
.hCaptureDetails .div2 img{
    margin-left: -60px;width:120px;height:120px;position:absolute;top:10px;
    border-radius: 50%;
    left: 50%;
}
.hCaptureDetails .div3 {
    height: 30px;
}
.hCaptureDetails .redsign {
    height: 10px;
    width: 10px;
    transform: rotate(45deg);
}
.hCaptureDetails .osign {
    height: 25px;
    width: 60px;
    margin-left: -11px;
    border-radius: 5px;
    color:#FFF;
    line-height:25px;
}
.hCaptureDetails .redsign,.hCaptureDetails .osign {
    background-color: RGB(255,102,102);
    display: inline-block;
}
.hCaptureDetails .div3,.hCaptureDetails .div4 {
    text-align: center;
    line-height: 25px;
    font-size: 15px;
}
.hCaptureDetails .div4 {
    height: 50px;
}
.hCaptureDetails .div4>div {
    width: 45%;
    text-align:left;
    display:inline-block;
    padding-left: 10px; padding-right: 10px;
}
.hCaptureDetails .div4>div:first-child {
    text-align:right;
}
.hCaptureDetails .div4 label {
    font-size: 15px;
    font-weight: bold;
}
.hCaptureDetails .div4 input {
    height: 30px;
}
.hCaptureDetails .div4 .btn {
    margin-top: -2px;
    background-color: rgb(173,174,175) !important;
    border-color: rgb(173,174,175);
    color: rgb(245,245,245);
}
.hCaptureDetails .div4 .osign {
    width: 78px;
    text-align:center;
}

.breadcrumb {
    line-height: 30px !important;
}