
.wtbtn {
	border: 1px solid #C9C9C9;
	padding: 6px 12px;
	border-radius: 4px;
	height: 30px;
	background-color: #FFF;
	color: #707070;
	margin: 0 3px;
}

.wtbtn1 {
	padding: 6px 12px;
	border-radius: 4px;
	height: 30px;
	background-color: #F90;
	color: #FFF;
	margin: 0 3px;
    border: 1px solid transparent;
}
.wtselect {
	padding: 6px 8px;
	border-radius: 4px;
	height: 30px;
	margin: 0 3px;
    
}

.wtbtn-create {
	border: 1px solid transparent;
	background-color: #F90;
	color: #FFF;
}

.wtright {
	float: right;
}

.wtleft {
	float: left;
}

.wtbtnsearch {
	border: 1px solid transparent;
	background-color: #F90;
	color: #FFF;
	/*padding: 6px 12px;*/
	border-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	height: 30px;
}

.wtbtnsearchtext {
	background-color: #F0F0F0;
	height: 30px;
	width: 150px;
	border-left: none;
}

.wtInfobtn-red {
	border: 1px solid red;
	padding: 6px 12px;
	border-radius: 4px;
	height: 30px;
	background-color: #FFF;
	color: red;
	margin: 0 3px;
}
.wtInfobtn-black {
	border: 1px solid #C9C9C9;
	padding: 6px 12px;
	border-radius: 4px;
	height: 30px;
	background-color: #FFF;
	color: #707070;
	margin: 0 3px;
}
