@charset "utf-8";
/* CSS Document */
html,body,div,span,h1,h2,h3,h4,h5,h6,p,pre,a,code,em,img,small,strong,sub,sup,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; font-family:"Microsoft Yahei"}
ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
body{height:100%; font:14px/18px "Microsoft Yahei"; color:#231815;}
img,input{border:none}
a,a:hover,a:active,a:visited,a:link,a:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline:none;
    background: none;
    text-decoration: none;
}
html,body{ width:100%;}
.footer{ position:fixed; bottom:0; left:0px; width:100%; z-index:999; background:#fff;height:14vw;filter: drop-shadow(0vw -0.5vw 1vw #dde5de);}
.footer_top{ height:16vw;}
.footer ul li{ float:left; width:33vw; text-align:center; line-height:14vw; border-right:solid 1px #e9e9e9;font-size:4vw;}
.footer ul li a{ display:block; color:#333}
.footer ul li:last-child{border-right:none}
.footer ul li:active{ background:#e9e9e9;}

.container {
  min-height: 100vh;
  background-color: #f2f2f2;
}

.wrap {
  padding: 3.2vw 5.3vw 5vw;
  /* height: 100vh; */
  /* overflow: hidden; */
}

.info-li.circle-bg {
  height: 46.4vw;
  border-radius: 1.3vw 1.3vw 49% 49%/ 1.3vw 1.3vw 8.7vw 8.7vw;
  box-shadow: 0.8vw 0.8vw 1.3vw #ced7df;
  position: relative;
  margin-bottom:10vw;
}

.info-li.circle-bg.false {
  background: linear-gradient(135deg, #56ccf2, #2f80ed);
}

.info-li.circle-bg.true {
  background: url("https://www.zhongxiaole.net/SPManager/Style/images/wxcard/newCardImg/vip-true.png") 95% 0%/20% no-repeat, linear-gradient(135deg, #f7edd7, #e9cf95);
}

.level-wrap {
  font-size: 2vw;
  line-height: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #ce974a, 60%, #885e24);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.circle-bg .person-info {
  display: flex;
  align-items: center;
  padding-top: 4.7vw;
  padding-left: 4.3vw;
}

.circle-bg .person-info .left-info .head-img {
  width: 11.2vw;
  height: 11.2vw;
  border: 2rpx solid #f2f2f2;
  border-radius: 50%;
  margin-right: 3.2vw;
  box-shadow: 0 0 1.3vw rgba(0, 0, 0, 0.2);
  background-size: cover;
  overflow: hidden;
  margin-top: 1vw;
}

.circle-bg .right-info.true .title, .circle-bg .right-info.true .text {
  background: linear-gradient(180deg, #ce974a, 60%, #885e24);
  -webkit-background-clip: text;
  color: transparent !important;
}

.circle-bg .person-info .right-info.true {
  background: linear-gradient(180deg, #ce974a, 60%, #885e24);
  -webkit-background-clip: text;
  color: transparent;
}

.circle-bg .person-info .right-info .title-info {
  display: flex;
  border-radius: 1.3vw;
  align-items: baseline;
}

.circle-bg .person-info .right-info .title-info .title {
  font-size: 4.3vw;
  color: #333;
  margin-right: 1.3vw;
  max-width: 50vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height:6vw;
}

.circle-bg .person-info .right-info .title-info .level-img {
  width: 11vw;
  height: 5.1vw;
}

.circle-bg .person-info .right-info .title-info .vip-btn {
  font-size: 3.2vw;
  color: #fff;
  padding: 0.5vw 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(145deg, #f5d439, #eb9054);
  border-radius: 5vw;
  margin-left: 1.3vw;
}

.circle-bg .person-info .right-info .title-info .vip-btn:active {
  background: #eb9054;
}

.circle-bg .person-info .right-info .text {
  font-size: 3.2vw;
  color: #385769;
  min-height: 3.2vw;
  width: 65vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height:4vw;
}

.money-info {
  position: relative;
}

.money-info .balance {
  color: #fff;
  display: flex;
  align-items: baseline;
  justify-content: center;
  position: relative;
  margin-top: 9.3vw;
  margin-bottom: 1.3vw;
}

.money-info .balance.true view {
  background: linear-gradient(180deg, #ce974a, 60%, #885e24);
  -webkit-background-clip: text;
  color: transparent;
}

.balance-int {
  font-size: 9.6vw;
  line-height: 9vw;
  font-weight: bolder;
}

.balance-float {
  font-size: 4.3vw;
  font-weight: bolder;
}

.money-info .btn {
  position: absolute;
  top: -4vw;
  right: 21vw;
}

.btn-text {
  border: 0.4vw solid #fff;
  font-size: 3.2vw;
  border-radius: 5.3vw 5.3vw 5.3vw 0;
  color: #fff;
  width: 10.7vw;
  height: 5.3vw;
  text-align: center;
  line-height: 5.3vw;
  box-sizing: content-box;
}

.btn-text.true {
  border: none;
  background: linear-gradient(145deg, #ce974a, #885e24);
}

.money-info .bottom {
  text-align: center;
  font-size: 3.2vw;
  color: #333;
}

.money-info .bottom.true {
  background: linear-gradient(180deg, #ce974a, 60%, #885e24);
  -webkit-background-clip: text;
  color: transparent;
}

.cirle-fun-li {
  margin-top: 8vw;
  margin-bottom: 7.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cirle-fun-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 12.7vw;
}

.cirle-fun-bg {
  background: linear-gradient(145deg, #56ccf2, #2f80ed);
  width: 11.7vw;
  height: 11.7vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cirle-fun-bg.true {
  background: linear-gradient(180deg, #ce974a, #885e24);
}

.cirle-fun-li .cirle-fun-wrap:nth-child(2) .cirle-fun-bg {
  width: 13.6vw;
  height: 13.6vw;
}

.cirle-fun-li .cirle-fun-wrap:last-child {
  margin-right: 0;
}

.cirle-fun-bg:last-child {
  margin-right: 0;
}

.cirle-fun-bg .iconfont {
  width: 5.3vw;
  height: 5.3vw;
  color: #fff;
  font-size: 5.3vw;
  position: relative;
}

.cirle-fun-bg .iconfont .new-number {
  position: absolute;
  right: -4vw;
  top: -3vw;
  font-size: 2.7vw;
  color: #fff;
  background-color: #ee4848;
  width: 4.3vw;
  height: 4.3vw;
  border-radius: 50%;
  text-align: center;
  line-height: 3.7vw;
}

.cirle-fun-li .text {
  font-size: 3.7vw;
  color: #666;
  margin-top: 4.1vw;
}

.cirle-fun-li .cirle-fun-wrap:nth-child(2) .text {
  margin-top: 2.2vw;
}

.fun-li-wrap {
  background-color: #fff;
  border-radius: 1.3vw;
}

.fun-li-wrap:first-of-type {
  margin-bottom: 1.6vw;
}

.fun-li-wrap:nth-of-type(2) {
  margin-bottom: 1.6vw;
}

.fun-li {
  display: flex;
  align-items: center;
  padding-left: 5.4vw;
  position: relative;
  background: #fff;
}

.fun-li:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #e9e9e9;
  transform-origin: 0 1px;
  transform: scaleY(0.3);
  box-sizing: border-box;
  bottom: 0;
  left: 0;
}

.fun-li:last-child:before {
  display: none;
}

.fun-li .left.iconfont {
  width: 5.3vw;
  height: 5.9vw;
  margin-right: 3.7vw;
  font-size: 5.3vw;
  background: linear-gradient(180deg, #ff8729, 60%, #ffbf25);
  -webkit-background-clip: text;
  color: transparent;
}

.fun-li .text {
  flex: 1;
  display: flex;
  align-items: center;
  line-height: 12.7vw;
}

.fun-li .text ._text {
  font-size: 3.7vw;
  color: #666;
}

.fun-li .text .left-text {
  flex: 1;
  line-height: 12.7vw;
}

.fun-li .text .left-text .span {
  font-size: 2.7vw;
  color: #ee4848;
  text-decoration: transparent;
  display: inline;
  position: relative;
  top: -2vw;
  left: 0vw;
  border: 1rpx solid #ee4848;
  padding: 0.5vw 1vw;
}

.fun-li .text .right-text {
  float: right;
  margin-right: 1.3vw;
  text-align: right;
  font-size: 3.2vw;
  color:dodgerblue
}

.fun-li .text .right-text.cost-text {
  margin-right: 1.3vw;
  color: #0066b3;
  font-size: 2.7vw;
  line-height: 12.7vw;
}

.fun-li .right.iconfont {
  height: 3.2vw;
  margin-right: 5.4vw;
  transform: rotateZ(180deg);
  font-size: 3.2vw;
  color: #999;
}

.fun-li .right.iconfont.cost-text {
  font-size: 3.8vw;
  transform: rotateZ(0deg);
  line-height: 12.7vw;
}

.fun-li .right.iconfont.help {
  transform: rotateZ(0deg);
}

.fun-li .right.iconfont.false {
  color: #0066b3;
}

.fun-li .right.iconfont.true {
  color: #a97835;
}

/* 提示弹窗 */

.tip-text {
  padding-left: 6vw;
  padding-right: 8.5vw;
}

.tip-text .tip-title {
  font-size: 6.4vw;
  color: #333;
  text-align: center;
  margin-bottom: 6.7vw;
  margin-top: 7.2vw;
}

.tip-text .title {
  font-size: 4.3vw;
  color: #333;
  /* margin:2.9vw 0  */
}

.tip-text .text {
  font-size: 3.7vw;
  color: #666;
  margin: 2.9vw 0 7.3vw;
  line-height: 5.3vw;
  margin-left: 2.5vw;
}

.tip-text .text:last-child {
  margin-bottom: 8vw;
}

.info-li .service {
  padding-left: 5.4vw;
  margin: 0;
  line-height: normal;
  border-radius: none;
  color: none;
  background-color: transparent;
  text-align: left;
  overflow: visible;
  height: auto;
}

.info-li button::after {
  border: none;
}

/* 组件点击效果 */

.form-btn-font-b-99 .btn-text.false {
  border: 1rpx solid #999;
  color: #999;
}

.form-btn-font-b-99 .btn-text.true {
  background: #885e24;
  color: #fff;
}

.form-btn2 .form-btn:active view {
  background: #2f80ed;
  background-color: #2f80ed;
  color: #999 !important;
}

.fun-li-wrap:first-of-type:active {
  background-color: #f5f5f5;
}

.fun-li-wrap .fun-li:active {
  background-color: #f5f5f5;
}

/* 分享 */

.canvas-card {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.save-btn {
  width: 52vw;
  height: 9.3vw;
  text-align: center;
  line-height: 9.3vw;
  background: linear-gradient(145deg, #56ccf2, #2f80ed);
  border-radius: 0 5.3vw 5.3vw 5.3vw;
  color: #fff;
  margin: 5vw auto 3.2vw;
  font-size: 4.3vw;
  z-index: 2;
}

.save-btn:active {
  background: #2f80ed;
}

.indexPrompt {
  color: #333;
  font-size: 3.4vw;
  border-radius: 10vw;
  padding: 1vw 4vw;
  position: relative;
  border: 0.5vw solid #2f80ed;
  z-index: 100;
  margin-bottom: 2vw;
}

.indexPrompt .iconfont {
  position: absolute;
  right: 10vw;
  bottom: -2vw;
  width: 5vw;
  height: 2vw;
  clip-path: polygon(0 0, 100% 0%, 50% 100%);
  background-color: #2f80ed;
}

.share-wrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.3vw;
}

.share-wrap .mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.share-wrap .wrap {
  width: 89.3vw;
  padding: 8.5vw 8vw;
  background: #fff;
  position: relative;
  box-shadow: 0 0 5vw rgba(0, 0, 0, 0.3);
}

.share-wrap .wrap .title {
  margin-bottom: 9.3vw;
  display: flex;
  justify-content: center;
}

.share-wrap .wrap .title .title_ {
  display: inline-block;
  font-size: 7.2vw;
  padding-bottom: 3.2vw;
  border-bottom: 0.5rpx solid #e5e5e5;
}

.share-wrap .wrap .content {
  font-size: 4.8vw;
  line-height: 8.5vw;
  color: #666;
  margin-bottom: 13.3vw;
}

.share-wrap .wrap .menu-wrap .menu-li {
  width: 100%;
  height: 12.1vw;
  line-height: 12.1vw;
  text-align: center;
  font-size: 4.3vw;
  color: #fff;
  border-radius: 1.3vw;
  margin-bottom: 4.3vw;
}

.share-wrap .wrap .menu-wrap .li:first-child .menu-li {
  background: linear-gradient(145deg, #56ccf2, #2f80ed, #56ccf2);
}

.menu-li1-active view {
  background: #2f80ed !important;
}

.share-wrap .wrap .menu-wrap .li:last-child .menu-li {
  background: #ccc;
}

.menu-li2-active view {
  background: #e5e5e5 !important;
}

.share-wrap .wrap .icon-wrap {
  width: 9.3vw;
  height: 9.3vw;
  font-size: 8.2vw;
  position: absolute;
  right: 3vw;
  top: 3vw;
  font-weight: bold;
  line-height: 9.3vw;
}

.welcome {
  position: fixed;
  left: 0;
  top: -10.7vw;
  width: 100vw;
  height: 10.7vw;
  background-color: rgba(118, 84, 37, 0.64);
  color: #f4e7ca;
  font-size: 4.3vw;
  text-align: center;
  line-height: 10.7vw;
  transition: all 1s;
}

.welcome.true {
  top: 0;
}

.welcome.false {
  top: -10.7vw;
}

.form-btn-false view {
  background: #2f80ed !important;
}

.form-btn-true view {
  background: #885e24 !important;
}
