@charset "utf-8";
/* CSS Document */
html,body,div,span,h1,h2,h3,h4,h5,h6,p,pre,a,code,em,img,small,strong,sub,sup,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; font-family:"微软雅黑"}
a{color:#231815/*#424242*/; text-decoration:none;outline: none;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-ms-transition: all .3s;transition: all .3s;backface-visibility:hidden;-webkit-backface-visibility:hidden; /* Chrome and Safari */-moz-backface-visibility:hidden; /* Firefox */-ms-backface-visibility:hidden; /* Internet Explorer */}
a:hover{color:#999}
a:focus {outline:none; -moz-outline:none;}
ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
body{ font:14px/18px "Microsoft Yahei", Tahoma, Helvetica, Arial, Verdana, "\5b8b\4f53", sans-serif; color:#231815; background:#d8d8d8}
html,body,form{height:100%; position:relative}
img,input{border:none}

.zxtim{ width:1000px; margin:0 auto; height:80%;background:#fff;position:absolute;top:10%; left:50%; margin-left:-500px; border-bottom-left-radius:5px; border-top-left-radius:5px;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-ms-transition: all .3s;transition: all .3s;backface-visibility:hidden;-webkit-backface-visibility:hidden; /* Chrome and Safari */-moz-backface-visibility:hidden; /* Firefox */-ms-backface-visibility:hidden; /* Internet Explorer */}

.zxtim_left{ width:274px; float:left;height:100%; background:#666;border-bottom-left-radius:5px; border-top-left-radius:5px; z-index:999}
.zxtim_left_info{ height:97px; background-color:#003c67;border-top-left-radius:5px;position:relative; border-top:solid 1px #003c67; border-left:solid 1px #003c67; padding:15px 20px; background-image:url(../images/zxtIM/zxtim_left_info.jpg); background-repeat:no-repeat; background-size:100% auto;}
.zxtim_left_info .headimg{float:left; width:55px; height:55px;background:url(../images/newpc/noheadimg.png) no-repeat #FFF; background-size:64% auto; border-radius:57px; background-position:center 10px;}
.zxtim_left_info .headimg .headimg_div{width:57px; height:57px; margin-top:-1px; margin-left:-1px; border-radius:57px; background-repeat:no-repeat; background-position:center center; background-size:cover;}

.zxtim_left_info .user_info{ float:right; width:160px;}
.zxtim_left_info .user_info .uesr_name{color: #fff;font-size: 16px;font-weight: 700;height: 24px;line-height: 24px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.zxtim_left_info .user_info .uesr_set{ padding-top:10px; height:17px;}
.zxtim_left_info .user_info .uesr_set div,.zxtim_left_info .user_info .uesr_set a{width:16px; height:16px; cursor:pointer; float:left; margin-right:10px;}
.zxtim_left_info .user_info .uesr_set .uesr_voice{ background-image:url(../images/zxtIM/voice.png); background-repeat:no-repeat; background-position:center center; background-size:100% auto;}
.zxtim_left_info .user_info .uesr_set .uesr_SetUp{ background-image:url(../images/zxtIM/SetUp.png); background-repeat:no-repeat; background-position:center center; background-size:100% auto; display:block;}
.zxtim_left_info .zxtim_left_info_div{ display:table; width:100%;}
.zxtim_left_info .imSearch{ background:#fff; height:26px; border-radius:26px; margin-top:13px; position:relative;}
.zxtim_left_info .imSearch .Search_ico{    width:19px;height:19px;margin-top:4px; margin-left:10px; background:url(../images/zxtIM/search999.png) no-repeat center center; background-size:100% auto; display:inline-block; float:left;}
.zxtim_left_info .imSearch input[type=text]{ float:left; width:194px; margin-left:5px; margin-top:4px; height:17px; line-height:17px;outline:none;background:transparent;border:none;outline:medium;}
.zxtim_left_info .imSearch input[type=text]:focus ~ .Search_list{ display:block;}
.zxtim_left_info .imSearch .Search_list{ width:100%; min-height:400px; background:rgba(0,0,0,0.9); position:absolute; left:0; top:39px;z-index:99; padding-top:1px; display:none;}
.zxtim_left_info .imSearch .Search_list:hover{ display:block;}
.zxtim_left_info .imSearch .Search_list:after {content: '';position: absolute;left:50%; margin-left:-9px;top:-18px;width: 0;height: 0;border-style: dashed;border-color: transparent;overflow: hidden;border-width:9px;border-bottom-style: solid;border-bottom-color:rgba(0,0,0,0.9);}
.Search_list .contact_list li .user_info{padding-top:0px;vertical-align:middle; height:48px;padding-right:8px; width: calc(100% - 70px); float:right; display:block;position:relative;}
.Search_list .contact_list li .user_info .uesr_name{font-size:12px; font-weight:inherit; height:16px; line-height:16px; color:#bfbfbf}
.Search_list .contact_list li .user_info .uesr_name.c_name{ font-size:14px; color:#FFF; font-weight:bold;}
.Search_list .contact_list li .user_info td{ height:46px; vertical-align:middle;}
.Search_list .contact_list li .headimg{ margin-left:14px; margin-top:5px;}
.Search_list .contact_list li{padding:10px 0px;height: 48px;}
.Search_list .tishi{ text-align:center; font-size:14px; color:#fff; line-height:40px;}
.Search_list .contact_list{ max-height:413px; overflow:hidden}
.zxtim_left_tab ul li{ width:50%; float:left; text-align:center; line-height:39px; height:39px;color:#747474; cursor:pointer}
.zxtim_left_tab ul{ display:table; width:100%;background: #333; border-top:solid 1px #333;}
.zxtim_left_tab ul li.on{ background:#666; color:#fff}

.zxtim_right{ width:calc(100% - 275px); float:right; height:100%; border:solid 1px #CCC; border-left:none; margin-top:-1px; overflow:hidden}
.zxtim_right.onsys .im_div .im_head{ border-bottom: solid 1px #efefef;}
.zxtim_right.onsys .im_div .im_input{ display:none}
.zxtim_right.onsys .im_div .im_content{ height:calc(100% - 48px);}
.zxtim_right.onsys .im_div{ background:#fafafa}
.zxtim_right.onsys .im_content::-webkit-scrollbar-track{background: #fafafa;}

.contact_list li .headimg{ width:40px; height:40px; border-radius:42px; background-repeat:no-repeat; background-position:center center; background-size:cover; float:left;margin-left:15px;background:url(../images/newpc/noheadimg.png) no-repeat #FFF; background-size:64% auto;background-position:center 7px;}
.contact_list li .headimg .headimg_div{width:42px; height:42px; margin-top:-1px; margin-left:-1px; border-radius:42px; background-repeat:no-repeat; background-position:center center; background-size:cover;}

.contact_list li{ padding:13px 0px; height:42px; cursor:pointer; border-bottom:solid 1px #616161; padding-left:5px; background-repeat:no-repeat; background-position:center left;}
.contact_list li .user_info{ color:#fff;width: 1%;word-wrap: break-word;word-break: break-all;display: table-cell; padding-left:8px; padding-right:60px; position:relative;padding-top: 2px;}
.contact_list li .user_info .uesr_message{ font-size:12px; color:#d2d2d2; height:18px; overflow:hidden;}
.contact_list li .user_info .message_time{color:#fff; position:absolute; right:8px; top:0px; font-size:12px;}
.contact_list li .user_info .message_UnreadCount{color:#fff; position:absolute; right:8px; top:22px; font-size:12px; width:16px; height:16px; background:#d82e2e; text-align:center; line-height:16px; border-radius:50px;}
.All_contact .contact_list li .user_info{padding-right:20px;padding-top: 12px;}
.contact_list li:hover{background-image:url(../images/zxtIM/contact_list.png); background-color:#888;}
.contact_list li.on{background-image:url(../images/zxtIM/contact_list.png); background-color:#888;}
.contact_list li:first-child{ border-top-left-radius:5px;}
.contact_list li:last-child{ border-bottom-left-radius:5px;}
.contact_div{ overflow-y:scroll; height:calc(100% - 168px); position:relative;}
.contact_div .Recent_contact{width:100%;} 

.contact_div::-webkit-scrollbar {/*滚动条整体样式*/width: 5px;/*高宽分别对应横竖滚动条的尺寸*/height: 1px;}
.contact_div::-webkit-scrollbar-thumb {/*滚动条里面小方块*/border-radius: 10px;-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);background: #535353;}
.contact_div::-webkit-scrollbar-track {/*滚动条里面轨道*/border-radius: 10px;background: #666;border:none;}

.im_div{ width:100%;height:100%; float:left;-webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;border-right:solid 1px #e8e8e8;}
.im_div .im_head{ height:47px; line-height:47px; background:#fafafa; padding-left:15px; position:relative; padding-right:50px;}
.im_div .im_head span{ font-size:14px; position:relative;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; display:block; padding-left:20px;}
.im_div .im_head span:before{content:""; width:6px; height:6px; border-radius:10px; background:#2e577d; position:absolute; top:20px; left:7px;}
	
.im_div .im_head .Full_screen_ico{ position:absolute; right:12px; top:14px; width:16px; height:20px; display:inline-block; background-repeat:no-repeat; background-position:center center; background-size:100% auto; background-image:url(../images/zxtIM/Full_screen.png); cursor:pointer;}
.im_div .im_head .Full_screen_ico.un{background-image:url(../images/zxtIM/Full_screen_un.png);}

.im_div .im_content{overflow-y:scroll; height:calc(100% - 215px); position:relative;}
.im_content::-webkit-scrollbar {/*滚动条整体样式*/width: 5px;/*高宽分别对应横竖滚动条的尺寸*/height: 1px;}
.im_content::-webkit-scrollbar-thumb {/*滚动条里面小方块*/border-radius: 10px;-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);background: #535353;}
.im_content::-webkit-scrollbar-track {/*滚动条里面轨道*/border-radius:0px;background: #fff;border:none;}

.im_div .im_input{ border-top:solid 1px #e8e8e8; height:168px; position:relative;}
.im_div .im_input .im_input_head span{ width:23px; height:23px; display:inline-block; background-position:center center; background-repeat:no-repeat; background-size:100% auto; cursor:pointer; margin-right:10px; position:relative;}
.im_div .im_input .im_input_head span.im_input_biaoqing{ background-image:url(../images/zxtIM/biaoqing.png)}
.im_div .im_input .im_input_head span.im_input_img{ background-image:url(../images/zxtIM/img.png)}
.im_div .im_input .im_input_head span.im_input_fine{ background-image:url(../images/zxtIM/fine.png)}

.im_div .im_input .im_input_head{ height:24px; padding-top:10px; overflow:hidden; padding-left:20px; padding-right:75px; position:relative;}
.im_div .im_input .im_input_head font{ position:absolute; top:9px; right:13px; font-size:12px; line-height:24px; cursor:pointer}
.im_div .im_input .im_textarea{ width:calc(100% - 20px); padding:5px 10px; height:82px;    outline: none;background: transparent;border: none;outline: medium;resize: none;}

.im_div .im_input .im_textarea::-webkit-scrollbar {/*滚动条整体样式*/width: 5px;/*高宽分别对应横竖滚动条的尺寸*/height: 1px;}
.im_div .im_input .im_textarea::-webkit-scrollbar-thumb {/*滚动条里面小方块*/border-radius: 10px;-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);background: #535353;}
.im_div .im_input .im_textarea::-webkit-scrollbar-track {/*滚动条里面轨道*/border-radius: 10px;background: #fff;border:none;}

.im_div .im_input .im_input_sub{ padding:3px 0px; height:35px; padding-right:100px; position:relative; overflow:hidden;}
.im_div .im_input .im_input_sub .im_input_btn{width: 88px;height: 35px;font-size: 14px;background: #416586;font-size: 16px;color: #fff;border-radius: 3px; border:none; cursor:pointer;outline: medium; position:absolute; top:3px; right:6px;}
.im_div .im_input .im_input_sub .im_input_btn:active{background:#0086af;}
.im_div .im_input .im_input_sub span{ display:block; text-align:right; font-size:12px;color: #bbb; line-height:35px; padding-right:5px;}

.Records_div{ width:0px; height:100%; float:right;  overflow:hidden; display:none;overflow-y:scroll;}
.Records_div::-webkit-scrollbar {/*滚动条整体样式*/width: 5px;/*高宽分别对应横竖滚动条的尺寸*/height: 1px;}
.Records_div::-webkit-scrollbar-thumb {/*滚动条里面小方块*/border-radius: 10px;-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);background: #535353;}
.Records_div::-webkit-scrollbar-track {/*滚动条里面轨道*/border-radius:0px;background: #fff;border:none;}
.Records_div.onRecord{width:274px; display:block;}
.im_div.onRecord{width: calc(100% - 275px); float:left;}

.Records_div .Records_list{ padding-left:10px; padding-right:5px; margin-bottom:10px;}
.Records_div .Records_list li{ list-style:none;}
.Records_div .Records_list li .chat_info{ font-size:12px; color:#478de4; line-height:34px;}
.Records_div .Records_list li .chat_info i{ margin-left:5px;}
.Records_div .Records_list li.chat_mine .chat_info{ color:#1e9400}
.Records_div .Records_list li .chat_text{ margin-left:10px;}
.Records_div .Records_list .sysmessage{ color:#999; text-align:center; line-height:22px; margin-top:10px;font-size:12px;}
.Records_div .Records_list li.SendAtDay{ text-align:center; font-size:12px; color:#1b1b1b; line-height:30px;margin-top:10px; height:30px;}
.Records_div .Records_list li.SendAtDay:after{content:""; border-bottom:solid 1px #e0e0e0; display:block; margin-top:-15px;}
.Records_div .Records_list li.SendAtDay font{ display:inline-block; background:#fff; padding:0 10px;}
.Records_div .loading_text{color:#999; text-align:center; line-height:22px; margin-bottom:10px; font-size:12px; list-style:none; display:none;}

.im_content_list{padding: 15px 10px 5px 15px;}
.im_content_list li{position: relative;margin-bottom: 10px;padding-left: 60px;min-height:70px;}
.im_content_list li .chat_user .headimg{width:42px; height:42px; border-radius:42px; background:url(../images/newpc/noheadimg.png) no-repeat #ececec;float:left;position: absolute;left:10px;background-size:64% auto;background-position:center 7px;}
.im_content_list li .chat_user .headimg .headimg_div{width:42px; height:42px; margin-top:-1px; margin-left:-1px; border-radius:42px; background-repeat:no-repeat; background-position:center center; background-size:cover;}

.im_content_list li .chat_user .chat_info{line-height: 24px;font-size: 12px;white-space: nowrap;color: #999;text-align: left;font-style: normal;}
.im_content_list li .chat_user .chat_info i{padding-left:8px;font-style: normal;}
.im_content_list li .chat_text{position: relative;line-height: 22px;margin-top:5px;padding: 8px 15px;background-color: #e2e2e2;border-radius: 3px;color: #333;word-break: break-all; box-sizing: content-box;display: inline-block;vertical-align: top;font-size: 14px;margin-right: 60px; min-height:22px;}
.im_content_list li .chat_text:after{content: '';position: absolute;left: -10px;top: 13px;width: 0;height: 0;border-style: dashed;border-color: transparent;overflow: hidden;border-width: 10px;border-top-style: solid;border-top-color: #e2e2e2;}

.im_content_list li .chat_img{margin-top:5px;}
.im_content_list li .chat_img img{ max-width:250px;}

.im_content_list li.chat_mine{text-align: right;padding-left: 0;padding-right: 60px;}
.im_content_list li.chat_mine .headimg{ left:auto; right:10px;}
.im_content_list li.chat_mine .chat_user .chat_info{ text-align:right;}
.im_content_list li.chat_mine .chat_user .chat_info i{ padding-left:0px; padding-right:8px;}
.im_content_list li.chat_mine .chat_text{margin-left: 0;text-align: left;background-color: #cbdcec;color: #2f2f2f;margin-right:0px; margin-left:60px;}
.im_content_list li.chat_mine .chat_text:after{left: auto;right: -10px;border-top-color: #cbdcec;}

.im_content_list li.chat_mine .chat_user .chat_info:before{ margin-right:5px; padding:2px 5px; font-size:12px; border-radius:2px;}
.im_content_list li.chat_mine .chat_user .chat_info.MessageStatus0:before{content: '未读'; background-color:#29861e; color:#FFF;}
.im_content_list li.chat_mine .chat_user .chat_info.MessageStatus1:before{content: '已读'; background-color:#dcdcdc; color:#666}
.im_content_list li.chat_mine .chat_user .chat_info.MessageStatus2:before{content: '发送失败';background-color:#bb4343; color:#fff}
.im_content_list .sysmessage{ text-align:center; font-size:12px; color:#999}

.im_content_list li.SYSMessageli{ padding-left:0; text-align:center;margin-bottom:23px;}
.im_content_list li.SYSMessageli .SendAt{display:inline-block; font-size:12px; color:#fff; background:#CCC; padding:0 5px; border-radius:3px; margin-bottom:10px;}
.im_content_list li.SYSMessageli .SYSMessageDIV{ background:#fff; width:300px; margin:0 auto; padding:10px; border:solid 1px #CCC; border-radius:5px;}
.im_content_list li.SYSMessageli .SYSMessageDIV .SYSMessageTitle{ text-align:left; font-size:14px;}
.im_content_list li.SYSMessageli .SYSMessageDIV .SYSMessageTime{ text-align:left; color:#CCC; font-size:12px;}
.im_content_list li.SYSMessageli .SYSMessageDIV .SYSMessageContent{ text-align:left; padding-top:5px; line-height:24px;}

/*全屏样式*/
.Full_screen{ width:100%; height:100%; margin:0; overflow:hidden; top:0; left:0;}
.Full_screen .im_content_list li .chat_img img{ max-width:60%;}

#left_menu:checked ~ .zxtim_left{ left:0px;}
.btn_menu{ display:none;}

.im_input_list{ position:absolute; left:10px; bottom:178px; width:384px;z-index:30; padding:10px;border: 1px solid #D9D9D9;background-color: #fff;box-shadow: 0 0 20px rgba(0,0,0,.2); display:none}
.im_input_list li{ float:left; padding:4px; height:22px; cursor:pointer;border: 1px solid #fff;}
.im_input_list li:hover{border: 1px solid #eb7350; background: #fff9ec;}
.im_input_list li img{ width:22px; height:22px;}

.FaceIMG{vertical-align: middle;}
.im_div .im_input .im_input_head span input{    position: absolute;font-size: 0;left: 0;top: 0;width: 100%;height: 100%;opacity: 0.01;filter: Alpha(opacity=1);cursor: pointer;}

@media screen and (max-width:1000px) { /*自适应*/
	.zxtim{ width:100%; height:100%; margin:0; overflow:hidden; top:0; left:0;}
	.zxtim .im_content_list li .chat_img img{ max-width:60%;}
}
@media screen and (max-width:640px) { /*自适应*/
	.zxtim_left{ width:100%;position:fixed; left:-100%; top:0px; border-radius:0px;}
	.zxtim_left_info .user_info{float: left;margin-left: 10px;}
	.zxtim_right{ width:100%;}
	.im_div .im_head .Full_screen_ico{ display:none;}
	.im_div .im_head{padding-left: 45px;}
	.btn_menu{ display:block; position:absolute; top:8px; left:12px; width:28px; height:28px;z-index:998; border-radius:3px; background:url(../images/zxtIM/menu.png) no-repeat center center #416586; background-size:auto 66%;}
	.im_input_list{ width:94%; left:0; padding:3%;}
	.Search_list .contact_list li .user_info{ margin-left:0px;}
	.im_content_list li.SYSMessageli .SYSMessageDIV{ width:80%;}
}