@charset "utf-8";
@import url('iconfont.css');
/* CSS Document */
*{ padding:0; margin:0;text-decoration: none;}
body {background: #eff0f4;font-family:"微软雅黑", sans-serif;color: #333;line-height: 20px;font-size: 14px;}
body,html{ height:100%;}
input, select, textarea {font-family: '微软雅黑', sans-serif;color: #333;}
a {color: #353F4F;}
a:focus, a:active, a:hover {color: #65CEA7;}
h1, h2, h3, h4, h5 {font-family: '微软雅黑', sans-serif;}
hr {border-color: #ddd;}
ul,li{ list-style:none;}

.Mainleft{background: #424f63; width:240px;position: fixed;height: 100%; overflow:hidden;overflow-y: auto;z-index: 100;}
.Mainleft .Logo{ padding-left:15px; height:50px;}
.Mainleft .Logo img{height:50px;}
.Mainleft .Logo .logo2{ display:none}


.Mainleft .contact_div{ overflow-y:scroll; height:calc(100% - 50px); position:relative; }

.Mainleft .contact_div::-webkit-scrollbar {/*滚动条整体样式*/width: 0px;/*高宽分别对应横竖滚动条的尺寸*/height: 1px;}
.Mainleft .contact_div::-webkit-scrollbar-thumb {/*滚动条里面小方块*/border-radius: 10px;-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);background: #374357;}
.Mainleft .contact_div::-webkit-scrollbar-track {/*滚动条里面轨道*/border-radius: 10px;background: #424f63;border:none;}

.Mainleft ul li{ cursor:pointer; line-height:44px;user-select:none;}
.Mainleft ul li i{ margin-right:9px; font-size:16px;}
.Mainleft ul li .open{ color:#fff; display:block; padding-left:22px;}
.Mainleft ul li .open font:before{content:"+"; float:right; margin-right:15px;font-size: 16px;font-weight: bold;}	
.Mainleft ul li:hover{ background:#353f4f;outline: none;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s; cursor:pointer;}
.Mainleft ul li:hover .open{color: #65CEA7;}
.Mainleft ul li.on{ background:#353f4f;}
.Mainleft ul li.on .open{color: #65CEA7;}
.Mainleft ul li.on .open font:before{content:"-"; width:10px; text-align:center;}
.Mainleft ul li .list{ font-size:12px; color:#fff; line-height:40px; display:none}
.Mainleft ul li .list .line{ padding-left:47px;}
.Mainleft ul li .list .line:hover,
.Mainleft ul li .list .line:active,
.Mainleft ul li .list .line:focus {color: #65cea7;background: #2a323f;outline: none;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s; cursor:pointer;}

.Mainright{}
.Mainright .Maintop{position: fixed; height:50px; background:#fff; left:240px; right:0; z-index:100}
.Mainright .Maintop .menu{ width:50px; line-height:50px; height:50px; float:left; text-align:center;border-right: 1px solid #e7e7e7; cursor:pointer;color:#000;outline: none;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
.Mainright .Maintop .menu:hover,
.Mainright .Maintop .menu:active,
.Mainright .Maintop .menu:focus{ background:#65cea7; color:#fff}
.Mainright .Maintop .menu .iconfont{ font-size:26px; }

.Mainleft.on{ width:50px; overflow:inherit}
.Mainleft.on .contact_div{overflow:inherit}
.Mainleft.on .logo1{display:none}
.Mainleft.on .logo2{display:block}
.Mainleft.on .Logo{ padding:0;}
.Mainleft.on ul li{ position:relative;overflow:inherit;line-height:40px;}
.Mainleft.on ul li .open span{ display:none}
.Mainleft.on ul li .open font{ display:none}
.Mainleft.on ul li .open{padding-left: 16px;}

.Mainright.on .Maintop{left:50px;}
.Mainright.on .Mainbottom{left:50px;}
.Mainleft.on ul li .list{ position:absolute; width:200px; left:50px; top:0px; background:#353f4f;}

.Mainright .Maintop .headimg{ float:right; margin-right:15px; padding-top:12px; height:38px; padding-right:10px; padding-left:10px; cursor:pointer;outline: none;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;user-select:none;}
.Mainright .Maintop .headimg .img{ width:26px; height:26px; background-position:center center; background-size:cover; border-radius:2px; float:left;}
.Mainright .Maintop .headimg .name{ float:left; margin-left:8px; line-height:26px;}
.Mainright .Maintop .headimg .iconfont{float:left; font-size:12px;line-height:26px;margin-left:3px;}
.Mainright .Maintop .headimg:hover{background: #424f63;color: #65cea7;}

.Mainright{ height:100%;}
.Mainright .Mainbottom{ padding:20px; left:240px; right:0px; top:50px; min-width:1200px;position:fixed; bottom:0px; overflow-y:auto}

.Mainright .Mainbottom .Content{display:table; width:100%; height:100%; position:relative;}
.Mainright .Mainbottom::-webkit-scrollbar {/*滚动条整体样式*/width: 6px;/*高宽分别对应横竖滚动条的尺寸*/height: 1px; position:fixed;}
.Mainright .Mainbottom::-webkit-scrollbar-thumb {/*滚动条里面小方块*/-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);background: rgb(101, 206, 167);}
.Mainright .Mainbottom::-webkit-scrollbar-track {/*滚动条里面轨道*/background: rgb(66, 79, 99);border:none;}

.Mainright .Mainbottom .form{ width:420px; min-height:200px; background:#fff; border-radius:4px; padding:15px; float:left;}
.Mainright .Mainbottom .form.list{width: calc(100% - 30px);}

.cardshow .head{ display:table; width:100%; padding-top:10px; padding-bottom:20px;}
.cardshow .head .left{ float:left;}
.cardshow .head .left .img{ width:100px; height:100px; background-position:center center; background-size:cover; border-radius:100px;}
.cardshow .head .right{ float:left; margin-left:30px; padding-left:20px; border-left:dashed 1px #d6d6d6; line-height:30px;margin-top: 19px; width:268px;}
.cardshow .head .right .name{ font-size:24px;}
.cardshow .head .right .position{ font-size:18px; color:#666;}

.infoshow li{ border-bottom:solid 1px #f5f5f5; display:table; width:100%; line-height:30px; padding:10px 0; font-size:16px;}
.infoshow li:last-child{border-bottom:none}
.infoshow li .show_left{ width:100px; float:left; color:#999; text-align:center;}
.infoshow li .show_right{ width:310px; float:right}

.btn{background:#65cea7; color:#fff; line-height:44px; text-align:center; padding:0 20px; cursor:pointer;user-select:none; margin:0 auto;margin-bottom:10px; margin-top:20px; font-size:16px; width:200px; border-radius:200px; }
.btn:active{background:#4cb58e;outline: none;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}

.Mainright .Mainbottom .qrcode{ float:left; margin-left:60px; width:260px; height:260px; margin-top:30px; position:relative;}
.Mainright .Mainbottom .qrcode .border{ width:100%; height:100%; border:solid 5px #6a8abe;  margin-left:-5px; margin-top:-5px; border-radius:20px;}
.Mainright .Mainbottom .qrcode:after{content:""; width:270px; height:70%; background:#eff0f4; position:absolute; top:15%; left:-5px;}
.Mainright .Mainbottom .qrcode:before{content:""; width:70%; height:270px; background:#eff0f4; position:absolute; top:-5px; left:15%;}

.Mainright .Mainbottom .qrcode img{ width:90%;position:absolute; z-index:10; top:5%; left:5%;border-radius:20px;}
.Mainright .Mainbottom .qrcode .text{ text-align:center; line-height:40px; margin-top:20px; font-size:16px; background:#6a8abe; color:#fff; border-radius:100px;}
.Mainright .Mainbottom .qrcode .text font{ color:#ffb94c}

.page-heading {position: relative; display:table; width:100%; padding-bottom:20px;}
.page-heading h3 {color: #49586e;font-size: 22px;font-weight: normal; margin: 10px 0;}
.page-heading .breadcrumb {padding: 0;margin: 0;background: none;}
.page-heading .breadcrumb a {color: #999999;}
.page-heading .breadcrumb li{ display:inline-block}
.page-heading .breadcrumb>li+li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #ccc;
}
.page-heading .breadcrumb li.active {color: #65CEA7;}

.login-body {
    background: #65cea7 url("../images/login-bg.jpg") no-repeat fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.login-body .login-div{ padding-top:100px;}
.login-body .login-div .login{max-width: 330px;background:#fff; height:412px;margin: 0px auto; border-radius:5px; padding-top:13px; text-align:center;}
.impowerBox .title { display:none;}
.login-body .login-div .login .wrapper{ width:280px; height:280px; overflow:hidden; position:relative; margin:0 auto;}
.login-body .login-div .login .wrapper iframe{width: 330px;height: 400px;border: none; position:absolute; top:-48px; left:-25px;}

.login-body .login-div .login .logo{ width:60px;}
.login-body .login-div .login .logoText { font-size:16px; font-weight:bold;}
.login-body .login-div .login .logoText font { color:#65CEA7}
.login-body .login-div .login .text{ text-align:center; font-size:14px; color:#999; line-height:16px;}
.login-body .login-div .login .text font{color:#ff6a00}