.fade.in {
    /*opacity: 1;*/
}
.modal {
    display: none;
    overflow-x: auto;
    overflow-y: scroll;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 10500;
    outline: 0px none;
}
.fade {
    opacity: 0;
    transition: opacity 0.15s linear 0s;
}

/*.modal.in .modal-dialog {
    transform: translate(0px, 0px);
}
.modal.fade .modal-dialog {
    transform: translate(0px, -25%);
    transition: transform 0.3s ease-out 0s;
}*/

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.modal-dialog {
    width: 600px;
    margin: auto;
    top: 20%;
}

.modal-content {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}
.modal-content {
    position: relative;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0px none;
}

.modal-body {
    position: relative;
    padding: 20px;
    background-color:#F1F1F1;
    min-height:100px;
}

.modal-footer {
    margin-top: 0px;
    /*margin-top: 15px;*/
    padding: 19px 20px 20px;
    text-align: center;
    border-top: 1px solid #E5E5E5;
    background-color:#F1F1F1;
}

.btn {
    display: inline-block;
    margin-bottom: 0px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -moz-user-select: none;
}

.modal-header{
    background-color:#323436;
}

.modal-title{
    text-align:center;
    color:#fff;
}

.modal-header > button.bootbox-close-button{
    color:#9C9C9C;
}

.bootbox-body{
    text-align:center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 18px;
    font-weight: normal;
}

.bootbox-body > label.bootbox-label{
    background-color: #ADAEAF;
    height: 33px;
    padding: 4px 8px 4px 8px;
    font-size: 16px;
}

.bootbox-body > select.bootbox-select{
    height: 33px;
    min-width: 150px;
    text-align: center;
    font-size: 16px;
}

.bootbox-body > select {
    border: solid 1px #000;
  
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;

    padding-right: 14px;

    background: url("images/angle-down.png") no-repeat scroll right center transparent;

}

.bootbox-body > select::-ms-expand { display: none; }

/*select option, select.form-control option:focus{
    background-color:red;
}*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .modal-dialog {
        position: relative;
        width: 40%;
        top: 40%;
        /*left: 30%;*/
    }

    @media (max-width: 768px) {
        .modal-dialog {
            width: 300px;
            top: 40%;
        }
    }
}