.ui-jqgrid tr.jqgrow td {
  white-space: normal;
  height:40px;
  vertical-align:text-top;
  padding-top:3px;
}

.ui-jqgrid tr.jqgrow td img,.ui-jqgrid tr.jqgrow td a {
  margin-right: 5px;
}

.ui-jqgrid-htable{
    height:40px;
    width:100% !important;
}

.ui-jqgrid-hdiv > th{
    height:55px;
}

th[aria-selected="true"] {
    background-image:none !important;
}

.ui-jqgrid .ui-jqgrid-htable th div{
     padding-top: 5px;
     padding-bottom: 5px;
     height:25px;
}

.ui-jqgrid .ui-jqgrid-htable th div input{
     margin: 6px 0px 0px;
}

.ui-jqgrid tr.jqgrow td {
    overflow-x: hidden;
    /**white-space: nowrap !important;*/
    word-break: break-all;
    vertical-align: middle;
}

.ui-state-default{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color:#FFF;
    /*border-left: 0px none !important;*/
    border-top: 1px solid #E1E1E1 !important;
    /*border-right: 0px none !important;*/
    border: 1px solid #E1E1E1 !important;
    border-bottom:0px !important;
}

.ui-jqgrid-sortable {
    color:#000;
    background-color:#f1f2f4;
    text-align:center;
    font-family: "微软雅黑";
    font-weight:initial;
}

/*.ui-jqgrid .ui-jqgrid-labels th:first-child
{
    width:100% !important;
    text-align:right;
}*/

/*.jqgfirstrow td:first-child
{
    width:100% !important;
}

.ui-jqgrid .ui-jqgrid-labels th:nth-child(2)
{
    width:0px !important;
}*/

/*.jqgfirstrow td:nth-child(2)
{
    width:0px !important;
}*/

/*.ui-jqgrid-labels th[id*="_cb"]:first-child > div::after
{
    content: "全选";
}*/

/*th.ui-jqgrid .ui-jqgrid-htable th div:nth-child(1)
{
    display:none;
}*/

/*th.ui-state-default ui-th-column ui-th-ltr:nth-child(2) > div
{
    display:none;
}*/

.ui-jqgrid-pagebtn{
    background-color:#E7EBEE;
    border: 1px solid transparent;
    width:55px;
    height:30px;
    margin: 0 3px !important;
}

.ui-jqgrid .ui-jqgrid-pager{
    background-color:#FFF !important;
    border-left: 1px solid #E1E1E1 !important;
    border-right: 1px solid #E1E1E1 !important;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.ui-jqgrid-pagetext{
    font-size: inherit;
    width: 24px;
    line-height: 16px;
    box-sizing: content-box;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 1px solid #cccccc !important;
}

.here{
    background-color:#FF9900;
    color:#FFF;
}

.dropdown-navbar > li:active,
.dropdown-navbar > li:hover,
.dropdown-navbar > li:focus, 
.dropdown-navbar > li{
    background-color:#E6E6E6 !important;
    padding: 10px 3px;
    font-family: "微软雅黑";
    font-size:13px;
    height:45px;
}



.dropdown-navbar > li > div > label{
    text-align: right;
}


.dropdown-menu.dropdown-menu-right.dropdown-caret-n::before {
    content: "";
    display: block;
    position: absolute;
    top: -7px;
    width: 8px;
    height: 8px;
    border-style: solid;
    border-color: #DDE4ED;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-width: 2px 0px 0px 2px;
    background-color: #DDE4ED;
    box-sizing: content-box;
    transform: rotate(45deg);
    right: 9px;
}

.search-filter{
    padding:15px 5px 0px;
    font-family: "微软雅黑";
    font-size:13px;
    color:#FF9900;
    font-weight:bold;
}

.filter{
    /*background-color:#E9E9E9;*/
    background-color:#323436;
    border: 1px solid transparent;
    padding: 2px 10px 2px 10px;
    /*color:#C5C5C5;*/
    color:#FFF;
    position:relative;
}

.filterbefore {
    margin: 0px 0px 0px 5px;
}

.filterafter {
    margin: 0px 5px 0px 0px;
}

.ui-jqgrid .ui-jqgrid-labels th {
    border-right: 1px solid #FFF !important;
    text-align: left !important;
}

.ui-jqgrid .ui-jqgrid-labels th:last-child {
    border-right: 1px solid #E1E1E1 !important;
    text-align: left !important;
}

.ui-widget-content > td[aria-describedby*="_cb"]:first-child {
    border-right: 1px solid #FFF !important;
}

.ui-icon {
    right:auto;
}

/*.filter::after {
    content: "x";
    display: block;
    position:absolute;
    color:#FF9900;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-width: 2px 0px 0px 2px;
    box-sizing: content-box;
    right: -4px;
    top:-9px;
}*/
/*.htp_tioajian .htp_body, .htp_sele .htp_body {
}

.htp_body {
    margin: 0px auto;
    padding: 10px;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
}

.htp_tioajian li {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 3px;
    border: 1px solid #D4D4D4;
    border-radius: 5px;
    margin-right: 20px;
    float: left;
    display: block;
}*/

.search-condition {
    width: 100%;
    height: 50px;
    /*border: 1px solid;*/
    border-radius: 6px;
    background-color:#F0F0F0;
}

.form-group > label[class*="col-"] {
    font-size:12px;
    text-align:right;
}

.form-group > div > label[class*="col-"] {
    padding-top: 4px;
    margin-bottom: 4px;
    font-size:12px;
    text-align:right;
}

.tabbutton{
    height: 100%;
    width: 80px;
    color: black;
    text-align: center;
    line-height: 50px;
    background-color: #F0F0F0;
    color: black;
    border:0px;
}

.tabbtn {
}

.tabbtn-selected {
    background-color:#F90;
    color: white;
}

.tabbutton:first-child{
    border-bottom-left-radius:6px;
    border-top-left-radius:6px;
}

.tab-selected {
    background-color: #323436;
    color: white;
}

.tab-selected::after {
    content: "";
    display: block;
    position: relative;
    top: -7px;
    width: 8px;
    height: 8px;
    border-style: solid;
    border-color: #323436;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-width: 2px 0px 0px 2px;
    background-color: #323436;
    box-sizing: content-box;
    transform: rotate(45deg);
    right: -30px;
}

.table-striped > tbody > tr:first-child > td{
    border-top:0px;
}

.table-bordered{
    border:0px;
}

.ui-jqgrid .ui-jqgrid-bdiv {
    border-top:0px;
    width:100% !important;
    overflow-x: hidden;
    border-right: 1px solid #E1E1E1 !important;
}

.ui-jqgrid-hbox {
    padding-right: 0px !important;
    width: 100%;
}

.ui-jqgrid-btable{
    width:100% !important;
}

.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
    height:40px;
    background-color:#f1f2f4;
}



.table-striped > tbody > tr[class*="ui-state-highlight"] > td{
    background-color:#E4EFC9;
}