label {
    font-size: 14px;
    font-weight: 600;
}

span {
    font-size: 12px;
}

.td {
    border: solid black;
    border-width: 1px 1px 1px 1px;
    height: 30px;
    font-size: 12px;
}

.header {
    border: solid black;
    border-width: 0px 1px 1px 0px;
    height: 30px;
    font-size: 13px;
}

.table {
    border: solid black;
    border-width: 1px 1px 0px 1px;
    width: 100%;
}

.savebtn {
    background-color: #1272b8;
    color: white;
    font-family: "微软雅黑";
    font-size: 14px;
    font-weight: bold;
    padding: 10px 30px 30px;
}

.wtbtn {
    /*background-color: #fff;*/
    border: 1px solid #c9c9c9;
    border-radius: 4px;
    /*color: #707070;*/
    height: 30px;
    margin: 0 3px;
    /*padding: 6px 12px;*/
    cursor: pointer;
    /*color: inherit;*/
}

.cancelbtn {
    background-color: #cccccc;
    color: rgb(255, 255, 255);
    font-family: "微软雅黑";
    font-size: 14px;
    font-weight: bold;
    padding: 10px 30px 30px;
}

.auto-style1 {
    width: 20%;
}
